.stickerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    margin-bottom:  0px;
}

.thisGuy{
    position:   relative;
    top: 0px;
    padding: 30px;
    margin-top:  0px;
    background-color: rgb( 100, 40, 260);
    padding-bottom:   30px;
}

.quote1{
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    background-color: rgb( 100, 40, 260);
    width: 220px;
    height: 100px;
    color:  white;
    text-align: center ;
    border-radius: 40px;
    position:   relative;
    bottom: 120px;
}

.quote2{
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    background-color: white;
    width: 220px;
    height: 100px;
    color:  black;
    text-align: center ;
    border-radius: 40px;
    position:   relative;
    bottom: 120px;
    border-bottom: 2px solid white;
    box-shadow:  1px 1px 1px #888888;
}

.quote{
    position: relative;
    top: 40px;
}

.l{
    color:  white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    height: 24px;
    width:  10%;
    z-index: -1;
    background-color: rgba(0,20,50,0.9);
}

@media screen and  (max-width: 1200px) {
    .l{
        width: 32%;
    }
    #progress{
        width: 68%;
    }
}

#progress {
    width: 90%;
}

#progress-2 {
   display: flex;
   column-gap: 20px;
}